.content {
    display: flex;
    justify-content: space-around;
    min-height: 500px;
}

.left {
    width: 50%;
    padding: 3% 0% 0% 3%;
}

.right {
    width: 50%;
    padding: 3% 1% 0% 3%;
}

.formLinea {
    display: flex;
    flex-direction: column;
}

.formLinea label {
    padding: 10px;
}

.ok-button {
    width: fit-content;
    cursor: pointer;
    margin: 3px;
}

.infoSubastaActual {
    display: flex;
    flex-direction: column;
}

.infoSubastaActual label {
    padding: 10px;
}

header {
    align-items: center;
    text-align: center;
}

.subastaItem {
    margin: 5px;
    display: flex;
    flex-direction: column;
}